<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Action & Adventure</title>
		<link rel="stylesheet" href="css/style.css"> 
	</head>
	<body>
		<header id="header-action">
			<h1>ACTION & ADVENTURE</h1>
		</header>
		<a href="/noob">Return</a>
		<section id="action-container">
			<p>Or maybe something like:</p>
			<div>
				<a href="/scifi">Sci-fi & Heroes</a>
				<a href="/crime">Crime & Mindgames</a>
			</div>
				<article class="manga">
					<% for (let i = 0; i < data.length; i++) { %> 
						<article class="manga-container">
							<img class="manga-cover" src="<%= "https://cdn.mangaeden.com/mangasimg/" + data[i].im %>">
							<div class="meta-container">
								<span class="manga-title"><%= data[i].t %></span>
								<ol>
									<% for (let j = 0; j < data[i].c.length; j++) { %>
										<li><a href=""><%= data[i].c[j] %></a></li>
									<% } %>
								</ol>
							</div>
						</article>
					<% } %>
				</article>
				<footer id="amateur-footer">
					<a href="">Read these already or need something different?</a>
				</footer>
			<script src="js/script.js"></script>
		</section>
	</body>
</html>