<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Crime</title>
		<link rel="stylesheet" href="css/style.css"> 
	</head>
	<body>
		<main id="amateur-main">
			<a href="/noob">Return</a>
			<h1>CRIME</h1>
			<h2>Crime</h2>
			<p>With a long history deeply rooted in the rich Japanese art, manga are one of the most fascinating phenomena in Japan and the whole world. Part of the “otaku” (“nerd”) culture, these comics have been a major player in the country’s publishing industry, creating a robust market, reaching millions of readers of all ages and influencing a number of works of comic book art in a variety of other nations.</p>
		</main>
		<section id="amateur-content">
			<article>
				<p>Are you looking for something like:</p>
				<div class="btn-container">
					<a href="/avatar">Avatar: The Last Airbender</a>
					<a href="/western">Space Western (Firefly, Guardians of the Galaxy)</a>
					<a href="/crime">Crime, Drama & Mindgames</a>
				</div>
			</article>
			<article class="manga">
			<% for (let i = 0; i < data.length; i++) { %> 
					<div class="random"> 
						<article class="manga-container">
							<img id="manga-cover" src="<%= "https://cdn.mangaeden.com/mangasimg/" + data[i].im %>">
							<div class="meta-container">
								<span class="manga-title"><%= data[i].t %></span>
								<ol>
									<% for (let j = 0; j < data[i].c.length; j++) { %>
										<li><a href=""><%= data[i].c[j] %></a></li>
									<% } %>
								</ol>
							</div>
						</article>
					</div>
				<% } %>
			</article>
			<footer id="amateur-footer">
				<a href="">Read these already or need something different?</a>
			</footer>
			<script src="js/script.js"></script>
		</section>
	</body>
</html>