<!doctype html>
<html lang="en" class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Manga</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">

	</head>
	<body>
		<section class="content-container">
			<input class="search-box" placeholder="Start searching..">
			<h1>Manga Finder</h1>
			<p>Our service tries to help everyone with finding their special Manga. There are a lot of manga's released, trying to find one can be hard and discourgaging.</p>
			<p>That's where we come on, but before we can help. Please pick a option from the following links</p>
		</section>
		<section class="index-btn-container">
			<a class="noob-btn" href="/noob">I’m completely new to Manga, please be gentle</a><br>
			<a class="pro-btn" href="/pro">I'm a pro, I can handle myself</a>
		</section>
	</body>
</html>