<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Typically Japanese</title>
		<link rel="stylesheet" href="css/style.css"> 
	</head>
	<body>
		<header id="header-scifi">
			<h1>Typically Japanese</h1>
			<a href="/noob">Go amateur</a>
		</header>
		<section id="action-container">
				<article class="manga">
					<% for (let i = 0; i < data.length; i++) { %> 
						<a href="<%= "manga/" + data[i].i %>" class="manga-container">
							<img class="manga-cover" src="<%= "https://cdn.mangaeden.com/mangasimg/" + data[i].im %>">
						</a>
					<% } %>
				</article>
			<script src="js/script.js"></script>
		</section>
		<footer id="amateur-footer">
					<a href="/everything">Show me everything</a>
		</footer>
	</body>
</html>