<!doctype html>
<html lang="en" class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Amateur</title>
	<link rel="stylesheet" href="css/style.css"> 
	</head>
	<body>
		<nav>
			<h1>AMATEUR</h1>
		</nav>
		<!-- <a href="/">Return</a> -->
		<section id="history">
			<h2>Quick History</h2>
			<p>With a long history deeply rooted in the rich Japanese art, manga are one of the most fascinating phenomena in Japan and the whole world. Part of the “otaku” (“nerd”) culture, these comics have been a major player in the country’s publishing industry, creating a robust market, reaching millions of readers of all ages and influencing a number of works of comic book art in a variety of other nations.</p>
			<p>From history and teenage romance to futuristic science fiction and profound themes of life, manga became an important, almost inevitable aspect of Japan’s identity and they helped spread knowledge and understanding of it across the planet.</p>
			<a href="#first-manga">I'm ready for my first Manga</a>
		</section>
	
		<section id="first-manga">
			<h2>Your first Manga</h2>
			<p>As your first Manga you should choose from a genre that is closely related to a movie, tv show or book you know.
			we came up with a couple of questions to help you find that special first Manga</p>
			<p>Do you like any of these themes?</p>
			<div class="btn-container">
				<a href="/action">Action & Adventure</a>
				<a href="/scifi">Sci-fi & Heroes</a>
				<a href="/crime">Crime & Mindgames</a>
				<a href="#next">Nope</a>
			</div>
		</section>
		<section id="next">
			<h2>More Themes</h2>
			<p>Alright so these first three weren't anything you'd like</p>
			<p>How about these?</p>
			<div class="btn-container">
				<a href="/comedy">Comedy</a>
				<a href="/horror">Horror & Mystery</a>
				<a href="/japanese">Something typicly Japanse</a>
				<a href="#next">Nope</a>
			</div>
		</section>
	<script src="js/script.js"></script>
	</body>
</html>