<!doctype html>
<html lang="en" class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Pro</title>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
		<a href="/">Return</a>
		<h1>Manga Finder</h1>
		<p>Ah the pro, as we're both aware Manga has a couple of different target groups. For us to help you find that special Manga we'd like to ask you to make a choice of target. Quick refresher. Shounen boys under the age of 15, Seinen, boys older then 15, Josei is for woman older then 15 and Shoujo is for girls under the age of 15.</p>
		<section class="gender-genre">
			<article class="male-genre">
				<a href="/shounen">Shounen</a>
				<a href="/seinen">Seinen</a>
			</article>
			<article class="female-genre">
				<a href="/josei">Josei</a>
				<a href="/shoujo">Shoujo</a>
			</article>
		</section>
		<section>
			<a href="/">Show me everything!</a>
		</section>
	</body>
	<script src="js/script.js"></script>
</html>