<!doctype html>
<html lang="en" class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Pro</title>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
		<nav>
			<h1>PRO</h1>
			<a href="/noob">Go NOOB</a>
			<a href="/">Go Home</a>
		</nav>
		<section id="history">
		<p>Welcome "pro" manga reader to the section of the website where everything is available for you.</p>
		<p>As pro's we all know that Manga come in a variety of genre's and target audiences, so in order to be of any assistance we'd like to ask you to choose one of the target audiences.</p>
		<section class="gender-genre">
			<article class="male-genre">
				<a href="/shounen">Shounen</a>
				<a href="/seinen">Seinen</a>
			</article>
			<article class="female-genre">
				<a href="/josei">Josei</a>
				<a href="/shoujo">Shoujo</a>
			</article>
		</section>
	</section>
		<footer id="pro-footer">
			<a href="/">Show me everything!</a>
		</footer>
	</body>
	<script src="js/script.js"></script>
</html>