<!doctype html>
<html lang="en" class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Pro</title>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
		<a href="/">Return</a>
		<h1>Manga Finder</h1>
		<p>Welcome Manga Pro!</p>
		<section class="top-manga-container">
			<article>
				<img src="images/one-piece-cover.jpg" height="300px" width="200px">
				<h2>Shounen</h2>
				<p>Literally meaning “few years,” “shonen” (少年) typically refers to young boys under the age of fifteen. Thus, shonen anime and manga are aimed at that demographic. A lot of these anime and manga have a young male hero and are focused on action, adventure, and fighting. However, comedies and series with female protagonists are becoming more and more common. Shonen works often have more than a fair share of fanservice as well. Some popular examples of shonen anime and manga are Dragon Ball, Bleach, Naruto, One Piece, Watamote and Attack on Titan.</p>
			</article>
			<article>
				
				<img src="images/maid-sama-cover.jpg" height="300px" width="200px">
				<h2>Shoujo</h2>
				<p>“Shojo” (少女), which is often translated as “young girl,” is the female counterpart to shonen, and anime and manga of this type are aimed at girls between the ages of ten and eighteen. These tend to focus on romance and interpersonal relationships—though this does not mean they are necessarily without action or adventure. Shojo works almost always have a female lead; however, many male homosexual love stories fall into the shojo category as well. Popular Shojo works include NANA, Sailor Moon, Revolutionary Girl Utena, Fushigi Yuugi, and Ouran High School Host Club.</p>
			</article>
			<article>
				<img src="images/vagabond-cover.png" height="300px" width="200px">
				<h2>Seinen</h2>
				<p>“Seinen” (青年), on the other hand, refers to young men between the ages of 15-24. Seinen anime and manga tend to be of a more violent and/or psychological nature than shonen series—though, of course, there are seinen comedies as well. They can also have content of a pornographic nature (though this is not the focus of the work). Famous seinen anime and manga include such titles such as Berserk, Ghost in the Shell, Akira, Hellsing, and Gantz.</p>
			</article>
			<article>
				<img src="images/chihayafuru-cover.png" height="300px" width="200px">
				<section class="">
					<h2>Josei</h2>
					<p>Anime and manga of the “josei” (女性) variety are aimed at adult women. Josei series are often slice-of-life or romantic tales featuring adult women, though, in recent years, shonen-like action-adventures have become popular as well. In general, these works tend to contain more realistic interpersonal relationships (as opposed to shojo’s often idealized ones) and can cover darker subjects like rape and infidelity. While many josei anime and manga have female main characters, many others have male characters. Male leads are usually of the pretty-boy variety and stories featuring them often have homosexual undertones. Popular josei series include Loveless, Paradise Kiss, Honey and Clover, 07-Ghost, and Makai Ouji: Devils and Realist.</p>
				</section>
			</article>
		</section>
	</body>
	<script src="js/script.js"></script>
</html>