<!doctype html>
<html lang="en" class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>SHOUNEN</title>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
		<section class="genre-selection">
			<div>
				<input type="checkbox" id="action">
				<label for="action">Action</label>
			</div>
			
			<div>
				<input type="checkbox" id="fantasy">
				<label for="fantasy">Fantasy</label>
			</div>
			
			<div>
				<input type="checkbox" id="sci-fi">
				<label for="sci-fi">Sci-fi</label>
			</div>
			
			<div>
				<input type="checkbox" id="adventure">
				<label for="adventure">Adventure</label>
			</div>

			<div>
				<input type="checkbox" id="historical">
				<label for="historical">Historical</label>
			</div>
			
			<div>
				<input type="checkbox" id="mature">
				<label for="mature">Mature</label>
			</div>

			<div>
				<input type="checkbox" id="drama">
				<label for="drama">Drama</label>
			</div>
			
			<div>
				<input type="checkbox" id="horror">
				<label for="horror">Horror</label>
			</div>
			
			<div>
				<input type="checkbox" id="mystery">
				<label for="mystery">Mystery</label>
			</div>
			
			<div>
				<input type="checkbox" id="comedy">
				<label for="comedy">Comedy</label>
			</div>
			
			<div>
				<input type="checkbox" id="romance">
				<label for="romance">Romance</label>
			</div>

			<div>
				<input type="checkbox" id="sport">
				<label for="sport">Sports</label>
			</div>

		</section>
		<section class="manga">
			<% for (let i = 0; i < data.length; i++) { %> 
				<div class="random">
				<article class="manga-container">
					<img id="manga-cover" src="<%= "https://cdn.mangaeden.com/mangasimg/" + data[i].im %>">
					<a href="<%= "manga/" + data[i].i %>"><%= data[i].t%></a>
					<div class="meta-container">
						<ol>
							<% for (let j = 0; j < data[i].c.length; j++) { %>
								<li><%= data[i].c[j] %></li>
							<% } %>
						</ol>
					</div>
				</article>
			</div>
			<% } %>
		</section>
	</body>
	<script src="js/script.js"></script>
</html>