<!doctype html>
<html lang="en" class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Shoujo</title>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
<section class="manga">
			<% for (let i = 0; i < data.length; i++) { %> 
				<div class="random">
				<article class="manga-container">
					<img id="manga-cover" src="<%= "https://cdn.mangaeden.com/mangasimg/" + data[i].im %>">
					<a href="<%= "manga/" + data[i].i %>"><%= data[i].t%></a>
					<div class="meta-container">
						<ol>
							<% for (let j = 0; j < data[i].c.length; j++) { %>
								<li><%= data[i].c[j] %></li>
							<% } %>
						</ol>
					</div>
				</article>
			</div>
			<% } %>
		</section>
	</body>
	<script src="js/script.js"></script>
</html>