@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
	scroll-behavior: smooth;
}

.manga {
	display: flex;
	flex-wrap: wrap;
}

.manga-container {
	filter: brightness(65%);
	transition: all 150ms;
	margin-right:1rem;
}

.manga-container:hover {
	filter: none;
}

.manga-cover {
	width: 158px;
	height: 240px;
	object-fit: cover;
}

.manga-container img {
	position: relative;
}

.manga-container span {
	position: absolute;
}


/*================
=== INDEX PAGE ===
=================*/
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1.5rem;
}

#header-index h1 {
	font-family: 'Anton', sans-serif;
	color: #F44910;
	font-size:3rem;
}

.search-text {
	margin: 1rem 0 0 0;
}

.or-text {
	font-family: 'Anton', sans-serif;
	font-size:2.5rem;
	color: #F44910;
}

.search-box {
	margin-top:.5rem;
	width: 40%;
	padding: .5rem;
	background-color: #FFFBF4;
	border: solid 1px black;
	color: black;
	transition: all 150ms;
}

.search-box:focus {
	outline: none;
	width: 100%;
	background-color: #FFFBF4;
	border: solid 1px #F44910;
	color: #F44910;
}

.search-box::placeholder {
	color: black;
	transition: all 150ms;
}

.search-box:focus::placeholder {
	color: #F44910;
}

.index-container {
	background-color: #FFFBF4;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
	padding: 1.5rem;
}

.index-btn-container {
	display: flex;
}

.index-btn-container a {
	display: block;
	border: solid 1px #F44910;
	background-color: #F44910;
	color: #FFFBF4;
	text-decoration: none;
	margin: 1rem;
	padding: 0.2rem;
	transition: all 150ms;
}

.index-btn-container a:hover {
	background-color: rgba(244, 73, 16, 0.6);
	transform: scale(1.05);
}

.index-btn-container a:focus {
	transform: scale(1.05);
}



/*==================
=== AMATEUR PAGE ===
===================*/
.btn-container {
	display: flex;
	text-align: center;
}

.btn-container a, .first-manga-btn {
	border: solid 1px #F44910;
	margin: .5rem .5rem 0 0;
	color: #F44910;
	text-decoration: none;
	padding: .2rem;
}

.btn-container a:hover, .first-manga-btn:hover {
	background-color: rgba(244, 73, 16, 0.6);
	color: white;
}

#history, #first-manga, #next, #last {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	min-width:60vw;
	margin: auto;
}

#history h2, #first-manga h2, #next h2, #last h2 {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	margin-top:1rem;
}

#history p, #first-manga p, #next p, #last p {
	margin:1rem 1.5rem 1rem 1.5rem;
}

.visible {
	opacity: 1;
	transform: translateY(0);
}

.meta-container {
	width:158px;
	overflow: hidden;
}

#amateur-footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: rgba(244, 73, 16, 0.8);
	height: 3rem;
	bottom: -29.2rem;
	left: 0;
	margin: 1rem 0 0 0;
	box-shadow: 0px -15px 40px 10px #FFFFFF;
}

#amateur-footer a {
	text-decoration: none;
	color: #FFFBF4;
	margin-right:2rem;
}

#amateur-footer a:hover {
	text-decoration: underline;
}


/*==============
=== PRO PAGE ===
===============*/
.gender-genre {
	display: flex;
}

.male-genre, .female-genre {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
}

.male-genre a, .female-genre a {
	margin: 0.5rem;
	width: 15rem;
	text-align: center;
	text-decoration: none;
	color: #F44910;
	border: solid 1px #F44910;
	padding: 0.4rem;
	transition: all 150ms;

}

.male-genre a:hover, .female-genre a:hover {
	background-color: #F44910;
	color: white;
	font-weight: 800;

}

#pro-footer {
	margin: 1rem;
}



/*==================
=== SHOUNEN PAGE ===
===================*/
nav {
	background-color: #F44910;
	width: 100%;
	display: flex;
	align-items: center;
	height: 5rem;
	color: white;
	font-weight: 800;
}

nav h1 {
	font-family: 'Anton', sans-serif;
	font-size:3rem;
	letter-spacing: .15rem;
	margin: 0 0 0 1.5rem;
	color: #FFFBF4;
}

nav a {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	color: #2F2F2F;
	margin-left: 1rem;
	text-decoration: none;
}

nav a:hover {
	color: #FFFBF4;
}

#nav-container {
	margin-left:1rem;
}

#nav-container a {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #2F2F2F;
	letter-spacing:0.08rem;
}

#nav-container a:hover {
	color: #FFFBF4;

}

#header {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	background-color: #FFFBF4;
	height:auto;
	padding: 0 0 0 1rem;
}

#header label {
	display: block;
	width:4.3rem;
	text-align: center;
	font-size: .8rem;
	/*color: #F44910;*/
	cursor: pointer;
	box-shadow: inset 0px 0px 0px 1px #F44910;
	margin: .5rem;
	transition: all 150ms;
}

#header label:hover, header label:focus {
	outline: none;
	background-color: rgba(244, 73, 16, 0.6);
	color: white;
	transform: scale(1.1);
}


#genre-btn {
	border: solid 1px deepskyblue;
	padding: .2rem;
	background-color: deepskyblue;
}

[type="checkbox"] {
	visibility: hidden;
	position:fixed;
}

[type="checkbox"]:checked + label {
	background-color: #F44910;
	color: white;
	font-weight: 800;
}

/*=================
=== ACTION PAGE ===
==================*/
#header-action, #header-crime, #header-scifi {
	background-color: #F44910;
	width: 100%;
	display: flex;
	align-items: center;
	height: 5rem;
	color: white;
	font-weight: 800;
}

#header-action h1, #header-crime h1, #header-scifi h1 {
	font-family: 'Anton', sans-serif;
	font-size:3rem;
	letter-spacing: .15rem;
	margin: 0 0 0 1.5rem;
	color: #FFFBF4;
	text-transform: uppercase;
}

#header-action  a, #header-crime  a, #header-scifi  a {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	color: #2F2F2F;
	margin-left: 1rem;
	text-decoration: none;
}

#header-action  a:hover, #header-crime  a:hover, #header-scifi  a:hover {
	color: #FFFBF4;
}

#action-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1.5rem;
}

#action-container > div {
	display: flex;
	align-items: center;
	padding: 1rem 0 1rem 0;
}

#action-container div > a {
	display: block;
	border: solid 1px #F44910;
	color: #F44910;
	text-decoration: none;
	padding: .2rem;
	margin-right: 1rem;
}

#action-container div > a:hover {
	background-color: rgba(244, 73, 16, 0.6);
	color: white;
}

/*==================
== GLOBAL STYLING ==
===================*/
.content-container {
	display: flex;
	flex-direction: column;
	margin-left: 1.5rem;
}

.content-container img {
	height: auto;
	width: 30%;
}

.return-btn {
	margin-left: 1.5rem;
}

.item {
  display: none;
  animation: fadeOut 300ms;
}

.item.active {
  display: block;
  animation: fadeIn 300ms;
}

.hidden {
	display: none;
}
