* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

.information-container {
	display: flex;
	flex-direction: column;
}

.information-container {
	width: 80vw;
}

.btn-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 1rem 0 1rem 0;
}

.btn-container button {
	height: 2rem;
	padding:.4rem;
}

.btn-container a {
	text-decoration: none;
	color: black;
	border: solid 1px black;
	text-align: center;
	font-size: .8em;
}

.btn-container a:hover {
	background-color: black;
	color: white;
}


.manga {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.manga-container {
	display: flex;
	flex-direction: column;
	overflow: hidden; 
	transition: all 150ms;
}

.meta-container {
	width:158px;
	overflow: hidden;
}

#manga-cover {
	width: 158px;
	height: 240px;
	object-fit: cover;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: deepskyblue;
	height: 3rem;
	bottom: 0;
	left: 0;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}