@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}



/*================
=== INDEX PAGE ===
=================*/
main {
	margin: 1rem;
}

main h1 {
	font-family: 'Anton', sans-serif;
}

.index-btn-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin: 1rem;
}

.index-btn-container a {
	border: solid 1px #F44910;
	width: 50vw;
	margin: .5rem 0 0 0;
	color: #F44910;
	text-decoration: none;
	padding: .2rem;
}

.index-btn-container a:hover {
	background-color: rgba(244, 73, 16, 0.6);
	color: white;
}



/*==================
=== AMATEUR PAGE ===
===================*/
#amateur-main {

}

#amateur-main p {
	margin-top: .5rem;
}

#amateur-content {
	margin: 1rem;
}

#amateur-content article{
	margin: 1rem 0 0 0;
}

.btn-container {
	display: flex;
	text-align: center;
}

.btn-container a {
	border: solid 1px #F44910;
	margin: .5rem .5rem 0 0;
	color: #F44910;
	text-decoration: none;
	padding: .2rem;
}

.btn-container a:hover {
	background-color: rgba(244, 73, 16, 0.6);
	color: white;
}

.manga {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.manga img {
	margin: 0.2rem;
}

.manga-container {
	display: flex;
	flex-direction: column;
	overflow: hidden; 
	transition: all 300ms;
	opacity: 0;
	transform: translateY(20px);

}

.visible {
	opacity: 1;
	transform: translateY(0);
}

.meta-container {
	width:158px;
	overflow: hidden;
}

#manga-cover {
	width: 158px;
	height: 240px;
	object-fit: cover;
	border: solid 1px black;
}

#amateur-footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: deepskyblue;
	height: 3rem;
	bottom: 0;
	left: 0;
	margin: 1rem 0 0 0;
	box-shadow: 0px -15px 40px 10px #FFFFFF;
}

#amateur-footer a {
	text-decoration: none;
}

#amateur-footer a:hover {
	text-decoration: underline;
}



/*==============
=== PRO PAGE ===
===============*/
.gender-genre {
	display: flex;
}

.male-genre, .female-genre {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
}

.male-genre a, .female-genre a {
	margin: 0.5rem;
	width: 15rem;
	text-align: center;
	text-decoration: none;
	color: #F44910;
	border: solid 1px #F44910;
	padding: 0.4rem;
	transition: all 150ms;

}

.male-genre a:hover, .female-genre a:hover {
	background-color: #F44910;
	color: white;
	font-weight: 800;

}

#pro-footer {
	margin: 1rem;
}



/*==================
=== SHOUNEN PAGE ===
===================*/
nav {
	background-color: #F44910;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 3rem;
	color: white;
	font-weight: 800;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	background-color: #FFFBF4;
	height:auto;
}

header label {
	display: block;
	width:4.3rem;
	text-align: center;
	font-size: .8rem;
	color: #F44910;
	cursor: pointer;
	box-shadow: inset 0px 0px 0px 1px #F44910;
	margin: .5rem;
	transition: all 150ms;
}

header label:hover, header label:focus {
	outline: none;
	background-color: rgba(244, 73, 16, 0.6);
	color: white;
	transform: scale(1.1);
}

#genre-btn {
	border: solid 1px deepskyblue;
	padding: .2rem;
	background-color: deepskyblue;
}

[type="checkbox"] {
	visibility: hidden;
}

[type="checkbox"]:checked + label {
	background-color: #F44910;
	color: white;
	font-weight: 800;
}

.item {
  display: none;
  animation: fadeOut 300ms;
}

.item.active {
  display: block;
  animation: fadeIn 300ms;
}

.hidden {
	display: none;
}
